/* BASE */
body{
	background: #0B0B0B;
	// color: #3DFB02;
	color: #fff;
	// This pattern is downloaded from www.subtlepatterns.com 
 // If you need more, that's where to get'em.
}

a,
a:link,
a:hover,
a:visited,
a:active{
	text-decoration: none;
}